body{
  font-family: Trebuchet MS;
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: center;
}

h3{
  text-align: center;
  width: 40%;
  left: 30%;
  margin: auto;
  font-size: 2.3em;
}

a{
  font-size: 2em;
  color: white;
}

button {
  padding: 1%;
  width: 80%;
  font-size: 1.6em;
  background-color: grey;
  color: white;
}

input{
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn{
  padding: 0 20px;
  font-size: 2.5em;
  width: 30%;
  line-height: 200px;
}

.area{
  border: 1px solid white;
  padding: 1%;
  width: 80%;
  margin: auto;
}

#flicker-1, #virus-1, #posture-1, #expression-1, #flicker-2, #virus-2, #posture-2, #expression-2{
  display: none;
}

#display-1{
  position: absolute;
  left: 2%;
  width: 50%;
}

#display-2{
  position: absolute;
  right: 2%;
  width: 50%;
}
