body{
  font-family: Trebuchet MS;
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: center;
}

h3{
  text-align: center;
  width: 40%;
  left: 30%;
  margin: auto;
  font-size: 2.3em;
}

a{
  font-size: 2em;
  color: white;
}

button {
  padding: 1%;
  font-size: 1.6em;
  background-color: grey;
  color: white;
}
